
@model List<PVMTrading_v1.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">
                    <h2>Customer's List</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid">
                            <p>
                                
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                    Add New Product
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                            </div>
                                            <div class="modal-body">
                                                @{Html.RenderAction("New", "Customer");}
                                            </div> 
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p>
                            @if (!Model.Any())
                            {
                                <p>We don't have any customers yet.</p>
                            }
                            else
                            {
                                <table class="table table-bordered" id="customers" style="margin: 0">
                                    <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Middle Name</th>
                                            <th>Last Name</th>
                                            <th>Extension Name</th>
                                            <th>Mobile Number</th>
                                            <th>Sex</th>
                                            <th>Registered Date Created</th>
                                            @*<th>Address</th>*@
                                            <th>Manage</th>

                                            @*<th>Telephone</th>
                                            <th>Email Address</th>
                                            <th>Birth Date</th>
                                            <th>Civil Status</th>

                                            <th>Place Of Birth</th>
                                            <th>Nationality</th>
                                            <th>Tax Identification Number</th>
                                            <th>Customer Type</th>
<<<<<<< HEAD
                                            <th>Address</th>
                                            <th>Zip Code</th>
                                            <th>Manageme</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var customer in Model)
                                        {
                                            <tr>
                                                <td>@customer.FirstName</td>
                                                <td>@customer.MiddleName</td>
                                                <td>@customer.LastName</td>
                                                <td>@customer.NameExtension</td>
                                                <td>@customer.Mobile</td>
                                                <td>@customer.Telephone</td>
                                                <td>@customer.Email</td>
                                                <td>@customer.Birthdate</td>
                                                @* <td>@customer.CivilStatus.Label</td>*@
                                                <td>@customer.Sex.Label</td>
                                                <td>@customer.RegisteredDateCreated.ToShortDateString()</td>
                                                <td>@customer.PlaceOfBirth</td>
                                                <td>@customer.Nationality</td>
                                                <td>@customer.TaxIdentificationNumber</td>
                                                <td>@customer.CustomerType.Label</td>
                                                <td>@customer.LotHouseNumberAndStreet, @customer.Barangay, @customer.CityMunicipality, @customer.Province, @customer.Country</td>"
                                                <td>@customer.ZipCode</td>
                                                <td>@Html.ActionLink("Edit", "Edit", new { id = customer.Id }, null) | @Html.ActionLink("Delete", "Delete", new { id = customer.Id }, null) | @Html.ActionLink("Details", "Details", new { id = customer.Id }, null)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
=======
                                            <th>Zip Code</th>*@

                                        </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var customer in Model)
                                            {
                                                <tr>
                                                    <td>@customer.FirstName</td>
                                                    <td>@customer.MiddleName</td>
                                                    <td>@customer.LastName</td>
                                                    <td>@customer.NameExtension</td>
                                                    <td>@customer.Mobile</td>
                                                    <td>@customer.Sex.Label</td>
                                                    <td>@customer.RegisteredDateCreated.ToShortDateString()</td>
                                                    
                                              @*   <td>@customer.CustomerCompleInfo.LotHouseNumberAndStreet, @customer.CustomerCompleInfo.Barangay, @customer.CustomerCompleInfo.CityMunicipality, @customer.CustomerCompleInfo.Province, @customer.CustomerCompleInfo.Country</td>"
*@
                                                    <td>@Html.ActionLink("Edit", "Edit", new { id = customer.Id }, null) | @Html.ActionLink("Delete", "Delete", new { id = customer.Id }, null) | @Html.ActionLink("Details", "Details", new { id = customer.Id }, null)</td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
>>>>>>> 2b1d9ca8308f3506dfc85de1d5d25d3524a95887

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<<<<<<< HEAD
<link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
=======
        <link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet"/>

    @section scripts{


          <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#customers').DataTable({/*
                "ajax": {
                    "url": "/customer/Loaddata",
                    "type": "GET",
                    "datatype":"json"
                },*/
                    "column": [
                        { "autowidth": true },
                        { "ScrollY": (0.6 * $(window).height()) }

                        /* { "data": "FirstName", "autowidth": true },
                         { "data": "MiddleName", "autowidth": true },
                         { "data": "LastName", "autowidth": true },
                         { "data": "NameExtension", "autowidth": true },
                         { "data": "Mobile", "autowidth": true },
                          { "data": "Telephone", "autowidth": true },
                          { "data": "Sex.Label", "autowidth": true },
                         { "data": "RegisteredDateCreated", "autowidth": true },
                         { "data": "PlaceOfBirth", "autowidth": true },
                         { "data": "Nationality", "autowidth": true },
                         { "data": "TaxIdentificationNumber", "autowidth": true },
                         { "data": "CustomerType", "autowidth": true },
                         { "data": "ZipCode", "autowidth": true }
     */

                     ]
>>>>>>> 2b1d9ca8308f3506dfc85de1d5d25d3524a95887


<<<<<<< HEAD

    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#customers').DataTable({/*
            "ajax": {
                "url": "/customer/Loaddata",
                "type": "GET",
                "datatype":"json"
            },*/
                "column": [
                    { "autowidth": true },
                    { "ScrollY": (0.6 * $(window).height()) }

                    /* { "data": "FirstName", "autowidth": true },
                     { "data": "MiddleName", "autowidth": true },
                     { "data": "LastName", "autowidth": true },
                     { "data": "NameExtension", "autowidth": true },
                     { "data": "Mobile", "autowidth": true },
                      { "data": "Telephone", "autowidth": true },
                      { "data": "Sex.Label", "autowidth": true },
                     { "data": "RegisteredDateCreated", "autowidth": true },
                     { "data": "PlaceOfBirth", "autowidth": true },
                     { "data": "Nationality", "autowidth": true },
                     { "data": "TaxIdentificationNumber", "autowidth": true },
                     { "data": "CustomerType", "autowidth": true },
                     { "data": "ZipCode", "autowidth": true }
 */

                ]


=======
                });
>>>>>>> 2b1d9ca8308f3506dfc85de1d5d25d3524a95887
            });
        </script>
    }