@*
        Eto yung ayusin mong nang view ipasok mo lang mga value sa ginawa mong view


        @model List<PVMTrading_v1.Models.ProductPrice>

    @{
        ViewBag.Title = "SearchProduct";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    <div class="content-wrapper">
        <div class="container-fluid">
            <h2>Product Price</h2>

            <table class="table table-responsive" id="productPrice">

                @foreach (var product in Model)
                {

                    <tr>
                        <td> @product.Product.Name</td>
                        <td> @product.Product.Model</td>
                        <td> @product.SellingPrice</td>
                    </tr>
                }

            </table>
        </div>
    </div>

*@

@model List<PVMTrading_v1.Models.Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">





            <div class="container-fluid">
                <div class="card mb-3">
                    <div class="card-header">
                        <h2>Product List</h2>
                    </div>
                    <div class="card-body">

                        <div class="new">
                            <div class="container">




                                <div class="card-body">
                                    <div class="row" id="product">
                                        @if (!Model.Any())
                                        {
                                            <p>We don't have any customers yet.</p>
                                        }
                                        else
                                        {

                                            foreach (var product in Model)
                                            {
                                                <div class="col-lg-4 product-model-sec">
                                                    <a href="single.html"></a>
                                                    <div class="card col-md-12">
                                                        <div class="">
                                                            <a href="single.html">
                                                                <div class="more-product"><span> </span></div>
                                                                <div class="b-wrapper">
                                                                    <img src="@Url.Content("~/Content/PVMcssandjs/images/1.jpg")" class="img-responsive" alt=""><!--Product Image-->
                                                                    <div class="">
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <div class="product-info simpleCart_shelfItem">
                                                                <div class="product-info-cust prt_name">
                                                                    <h4>@product.Name</h4><!--Buy now Button-->
                                                                    <p>@product.Model</p><!--Product Id-->
                                                                    <span class="item_price">@product.OriginalPrice</span>
                                                                    <a href="single.html">Buy Now</a><!--Buy now Button-->
                                                                </div>
                                                                <div class="clearfix"> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            }

                                        }



                                        @*   <div class="col-lg-4">
                                                    <figure class="snip1174 navy col-md-9">
                                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33" />
                                                        <figcaption>
                                                            <h2>Տեսականի</h2>
                                                            <p>
                                                                Մեր տեասկանին սպասում է Ձեզ
                                                            </p>
                                                            <a href="/main/page/production">Ավելին</a>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                                <div class="col-lg-4">
                                                    <figure class="snip1174 red col-md-9">
                                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33" />
                                                        <figcaption>
                                                            <h2>Ակցիաներ</h2>
                                                            <p>
                                                                Թարմացվող ակցիաներ մեր հաճախորդների համար
                                                            </p>
                                                            <a href="/main/page/auction">Ավելին</a>
                                                        </figcaption>
                                                    </figure>
                                                </div>


                                                <div class="col-lg-4">
                                                    <figure class="snip1174 navy col-md-9">
                                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33" />
                                                        <figcaption>
                                                            <h2>Մեր մասին</h2>
                                                            <p>
                                                                Մեր ընկերության մաին ծանոթացեք այստեղ
                                                            </p>
                                                            <a href="/main/page/company">Ավելին</a>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                                <div class="col-lg-4">
                                                    <figure class="snip1174 red col-md-9">
                                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33" />
                                                        <figcaption>
                                                            <h2>Բաղադրատոմսեր</h2>
                                                            <p>
                                                                Պատրաստման հարցում Դուք ունեք Ձեր խորհրդատուն
                                                            </p>
                                                            <a href="/main/page/recipe">Ավելին</a>
                                                        </figcaption>
                                                    </figure>
                                                </div>


                                            <div class="col-lg-4">
                                                <figure class="snip1174 navy col-md-9">
                                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33" />
                                                    <figcaption>
                                                        <h2>Խանութների ցանկ</h2>
                                                        <p>
                                                            Մեր խանութների ցանկին այստեղ
                                                        </p>
                                                        <a href="/main/page/map">Ավելին</a>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure class="snip1174 red col-md-9">
                                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33" />
                                                    <figcaption>
                                                        <h2>Նորություններ</h2>
                                                        <p>
                                                            Ծանոթացեք մեր նորություններին այստեղ
                                                        </p>
                                                        <a href="/main/page/news">Ավելին</a>
                                                    </figcaption>
                                                </figure>
                                            </div>*@




                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                                </div>
                            </div>

                        </div>

                <link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />



                @section scripts{
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js">
                    </script>
                    <script>
                        function createModal(url) {
                            $('#modelContent').load(url);
                            $('#myModal').modal('show');
                        }
                    </script>
                    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
                    <script>
                        $(document).ready(function () {
                            $('#product').DataTable({/*
            "ajax": {
                "url": "/customer/Loaddata",
                "type": "GET",
                "datatype":"json"
            },*/
                                "column": [
                                    { "autowidth": true },
                                    { "ScrollY": (0.6 * $(window).height()) },


                                    /* { "data": "FirstName", "autowidth": true },
                                     { "data": "MiddleName", "autowidth": true },
                                     { "data": "LastName", "autowidth": true },
                                     { "data": "NameExtension", "autowidth": true },
                                     { "data": "Mobile", "autowidth": true },
                                      { "data": "Telephone", "autowidth": true },
                                      { "data": "Sex.Label", "autowidth": true },
                                     { "data": "RegisteredDateCreated", "autowidth": true },
                                     { "data": "PlaceOfBirth", "autowidth": true },
                                     { "data": "Nationality", "autowidth": true },
                                     { "data": "TaxIdentificationNumber", "autowidth": true },
                                     { "data": "CustomerType", "autowidth": true },
                                     { "data": "ZipCode", "autowidth": true }
                 */

                                ]



                            });
                        });
                    </script>
                }

