
@model PVMTrading_v1.ViewModels.CashTransactionViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@*

@Html.Action("CashTransactionSummaryItemList")
*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
@using (Html.BeginForm("Save", "CashTransaction", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="content-wrapper">
        <div class="form-horizontal">
           
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.CashTransaction.CashTransactionDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CashTransaction.CashTransactionDate, new { Value = DateTime.Now, @disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.CashTransaction.CashTransactionDate, "", new { @class = "text-danger" })
                </div>
            </div>
            
          
       @* 
            <div class="form-group">
                @Html.LabelFor(model => model.CashTransaction.CustomerId, "Customer Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CashTransaction.C ,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CashTransaction.CustomerId, "", new {@class = "text-danger"})
                </div>
            </div>*@
          

            <div class="form-group">
                @Html.LabelFor(model => model.CashTransaction.TotalDiscountedAmount,"Discount", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CashTransaction.TotalDiscountedAmount, new { value=0,id = "discount",@class = "discount form-control"})
                    @Html.ValidationMessageFor(model => model.CashTransaction.TotalDiscountedAmount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CashTransaction.OriginalTotalAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CashTransaction.OriginalTotalAmount, new {@class="txt", Value = ViewBag.price ,@disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.CashTransaction.OriginalTotalAmount, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.CashTransaction.TotalAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CashTransaction.TotalAmount, new { Value = ViewBag.price , @disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.CashTransaction.TotalAmount, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.CashTransaction.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CashTransaction.Remarks, new { @class ="form-control" })
                    @Html.ValidationMessageFor(model => model.CashTransaction.Remarks, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.CashTransaction.OR, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CashTransaction.OR, new { @class="form-control" })
                    @Html.ValidationMessageFor(model => model.CashTransaction.OR, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(c=>c.CashTransaction.Id)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>

    </div>
                            }





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}







